<body>
  <div class="title">
    <h1>
      <span class="word-tic">Tic.</span><br>
      <span class="word-tac">Tac.</span><br>
      <span class="word-toe">Toe.</span>
    </h1>
  </div>

  <section class="container">
  <app-scoreboard
    [xScore]="xScore"
    [oScore]="oScore"
    [draws]="draws"
  ></app-scoreboard>

  <app-grid
    [possibleToFinish]="moves >= 4"
    [thereAreMovesLeft]="moves < 8"
    [currentPlayer]="turn"
    [grid]="grid"
    (matchFinished)="score($event)"
    (moveMade)="makeAMove()"
    [matchStarted]="gameState === GameState.STARTED"
  ></app-grid>

    <div class="game-state-container">
      @if (gameState === GameState.WAITING_START || gameState === GameState.FINISHED) {
        <button class="new-game-button" (click)="startNewGame()">NEW GAME</button>
      }
      @else if (turn === "X") {
        <button class="turn x">X TURN</button>
      }
      @else {
        <button class="turn o">O TURN</button>
      }
    </div>
  </section>
</body>
