<body>
  <div class="title">
    <h1>
      <span class="word-tic">Tic.</span><br>
      <span class="word-tac">Tac.</span><br>
      <span class="word-toe">Toe.</span>
    </h1>
  </div>

  <section class="container">
    <div class="players-draw-container">
      <span class="player-x">Player X</span>
      <span class="draw">Draw</span>
      <span class="player-o">Player O</span>
    </div>

    <div class="grid-container">
      <button class="grid-item"></button>
      <button class="grid-item"></button>
      <button class="grid-item"></button>
      <button class="grid-item"></button>
      <button class="grid-item"></button>
      <button class="grid-item"></button>
      <button class="grid-item"></button>
      <button class="grid-item"></button>
      <button class="grid-item"></button>
    </div>

    <div class="new-game-container">

      <button class="new-game-button">New Game</button>
    </div>
  </section>
</body>
