<body>
<!--  <span *ngIf="!player" class="spinner"></span>-->
  <div class="reset-button-container">
  <button (click)="resetSessions()">Reset sessions</button>
  </div>
  <header>
    <h1>You are: <span *ngIf="player">{{player}}</span></h1>
  </header>

  <main class="container">
    <app-scoreboard
      [score]="score"
    ></app-scoreboard>

    <app-grid
      [gameStatus]="gameStatus"
      [grid]="grid"
      [player]="player"
      (moveMade)="makeAMove($event)"
    ></app-grid>

    <div class="game-state-container">
      @if (gameStatus === GameStatus.WAITING_FIRST_PLAYER) {
        <button class="new-game-button disabled">CONNECTING...</button>
      }
      @else if (gameStatus === GameStatus.WAITING_SECOND_PLAYER && !thisPlayerIsConnectedWithWS) {
        <button class="new-game-button disabled">CONNECTING...</button>
      }
      @else if (gameStatus === GameStatus.WAITING_SECOND_PLAYER && thisPlayerIsConnectedWithWS) {
        <button class="new-game-button disabled">WAITING FOR SECOND PLAYER...</button>
      }
      @else if (gameStatus === GameStatus.WAITING_START) {
        <button class="new-game-button" (click)="startNewGame()">NEW GAME</button>
      }
      @else if (gameStatus === GameStatus.X_TURN) {
        <button class="turn x">X TURN</button>
      }
      @else if (gameStatus === GameStatus.O_TURN) {
        <button class="turn o">O TURN</button>
      }
    </div>
  </main>

  <footer class="logo-container">
    <h1 class="logo">
      <div class="word-tic">Tic.</div>
      <div class="word-tac">Tac.</div>
      <div class="word-toe">Toe.</div>
    </h1>
  </footer>
</body>
